@model ProjektZaliczeniowyDziekanat.DAL.Models.Student;
@{
    ViewData["Title"] = "StudentHome - Wirtualny Dziekanat";
    ViewData["Name"] = Model.Imie + " " + Model.Nazwisko;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url(../jpg/audit.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-light bg-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Student" asp-action="Index"><h3>&nbsp;Wirtualny Dziekanat&nbsp;&nbsp;|&nbsp;&nbsp;</h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index"><h5 class="font-weight-normal">Strona główna</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Dane"><h5 class="font-weight-normal">Dane</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="PlanZajec"><h5 class="font-weight-normal">Plan Zajęć</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Oceny"><h5 class="font-weight-normal">Oceny</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Contact"><h5 class="font-weight-normal">Kontakt</h5></a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a asp-controller="Account" asp-action="Logout" class="text-decoration-none">Wyloguj</a>
                </span>
            </div>
        </div>
    </nav>
    <div id="bodyContainer">
        <main role="main" class="pb-3  justify-content-center align-items-center">

            <div style="height:100px;">

            </div>
            <div class="m-0 mb-5 text-center w-100">
                <h1 class="p-5 rounded text-white" style=" background-color: rgba(0,0,0, .65) !important;">Witaj na stronie startowej wirtualnego dziekanatu @Model.Imie! </h1>
            </div>
            <div class="container bg-light shadow-lg rounded p-4">
                <h4>Ogłoszenia</h4>
                <table class="table text-center">
                    <tr>
                        <td>Dziekanat</td>
                        <td>Przerwa Świąteczna</td>
                    </tr>
                    <tr>
                        <td>Dziekanat</td>
                        <td>Przerwa techniczna w godzinach 1.00-3.00</td>
                    </tr>
                    <tr>
                        <td>Dziekanat</td>
                        <td>Zapisy na zajecia dodatkowe</td>
                    </tr>
                    <tr>
                        <td>Dziekanat</td>
                        <td>Termin składania wniosków o stypendium</td>
                    </tr>
                    <tr>
                        <td>Dziekanat</td>
                        <td>Godziny przyjeć psychologa</td>
                    </tr>
                    <tr>
                        <td>Dziekanat</td>
                        <td>Zarządzenie rektora</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
