@model ProjektZaliczeniowyDziekanat.DAL.Models.Admin;
@{
    ViewData["Title"] = "Zarządzaj aplikacją wirtualnego dziekanatu";
    ViewData["ctrl"] = "Admin";
    Layout = "AdminLayout";
}

    <div style="height:100px;">

    </div>
    <div class="m-0 mb-5 text-center w-100">
        <h1 class="p-5 rounded text-white" style=" background-color: rgba(0,0,0, .65) !important;">Witaj na stronie startowej wirtualnego dziekanatu </h1>
    </div>
    <div class="container bg-light shadow-lg rounded p-4">
        <h4>Ogłoszenia</h4>
        <table class="table text-center">
            <tr>
                <td>Dziekanat</td>
                <td>Przerwa Świąteczna</td>
            </tr>
            <tr>
                <td>Dziekanat</td>
                <td>Przerwa techniczna w godzinach 1.00-3.00</td>
            </tr>
            <tr>
                <td>Dziekanat</td>
                <td>Zapisy na zajecia dodatkowe</td>
            </tr>
            <tr>
                <td>Dziekanat</td>
                <td>Termin składania wniosków o stypendium</td>
            </tr>
            <tr>
                <td>Dziekanat</td>
                <td>Godziny przyjeć psychologa</td>
            </tr>
            <tr>
                <td>Dziekanat</td>
                <td>Zarządzenie rektora</td>
            </tr>
        </table>
    </div>
